
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: brown;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.get-random{
  position: fixed;
  bottom: 33px;
  right: 42px;
  z-index: 1;
  animation: moveUpDown 2s infinite alternate;
}


.get-random button{
  border: none;
  background-color: brown;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}



@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}


.headerleft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerleft h1 {
  color: white;
  font-size: 25px;
}

.headerleft svg {
  font-size: 30px;
}

.headerright {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headerright svg {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.headerright a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 23px;
  margin-right: 33px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.headerright a:hover {
  color: black;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg") no-repeat fixed center / cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home .tag-line h1 {
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 2.7vw;
  margin: 5rem 0;
}
.home .tag-line h3 {
  color: white;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 2.7vw;
  margin: 3rem 0;
 transition: 0.5s ease;

}







.home .meal-link form {
  display: flex;
  align-items: center;
}

.home .meal-link form input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  flex-grow: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home .meal-link form a {
  height: 45px;
  width: 45px;
  background-color: brown;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 15px;
}

.home .meal-link form a svg {
  font-size: 30px;
}


.categories {
  background-color: #FDF7E3;

}

.categorie-text {
  font-size: 43px;
  color: black;
}

.text{
  padding: 25px 26px;
  position: relative;
}


.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.text-line{
  position: absolute;
  height: 5px;
  width: 145px;
  background-color: brown;
  bottom: 16px;
}



.category-item {
  width: 250px;
  height: 300px;
  display: flex;
  margin: 23px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;
}

.category-item .icons h1{
  color: white;
  font-size: 30px;
}

.category-item .icons{
  position: absolute;
  top: -150%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s ease;
  z-index: 2;
}

.category-item:hover .goto{
  display: none;
}

.iconlogo{
  margin-top: 10px;
}


.category-item:hover .icons{
  top: -10%;
}

.icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.847);
  padding: 0;
  z-index: 1;
  transition: 0.5s ease;
}

.category-item:hover::before{
  left: 0;
}

.icons .iconlogo svg{
  color: white;
  z-index: 1;
  font-size: 40px;
  margin: 5px;
}



.category-item:hover,
.meal-item:hover {
  transform: scale(1.04);
}

.categories p {
  margin: auto;
  width: 90%;
  text-align: justify;
  padding-top: 14px;
}



.category-item img,
.meal-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  cursor: pointer;
}





.category-item h1 {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  margin-top: 26px;
  transition: color 0.3s ease;
  text-align: center;
}

.category-item h1:hover {
  color: brown;
}

.category-item a {
  text-decoration: none;
  color: inherit;
}

.meal-item {
  width: 250px;
  height: 300px;
  display: flex;
  margin: 23px;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.meal-item a {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.meal-item a:hover {
  color: brown;
}

.search-meal form {
  width: 100%;
  background-color: lightgray;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-meal form input {
  height: 37px;
  width: 16%;
  padding: 9px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
}

.search-meal form button {
  background-color: brown;
  border: none;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  margin-left: 7px;
  cursor: pointer;
  color: white;
}

.search-meal svg {
  font-size: 30px;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 80vh;
}

.recipe-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 75%;
}

.recipe-ingredients {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.recipe-ingredients .image{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
}
.recipe-ingredients .image img{
  height: 100%;
  width: 90%;
}

.recipe-ingredients .detail{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recipe-ingredients .detail h1{
  margin-bottom: 10px;
  font-size: 40px;
  color: brown;
}
.recipe-ingredients .detail h3{
  font-size: 20px;
  color: gray ;
}
.recipe-ingredients .detail a{
  font-size: 30px;
  transition: 0.5s all;
}

.recipe-ingredients .detail a:hover{
  transform: scale(1.25);
  color: red;
}
.recipe-ingredients .detail a:first-of-type{
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipe-detail .ingredients{
  margin: 2rem 0;
  height: auto;
}

.recipe-detail .ingredients ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.recipe-detail .ingredients ul li{
  margin-right: 10px;
}
.recipe-instruction ul{
  list-style: none;
}



.select-area{
  height: 58px;
  width: 100%;
  background-color: #99627A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-area button{
  height: 40px;
  width: 40px;
  margin: 0 10px;
  background-color: brown;
  border: none;
  border-radius: 50%;
  color: white; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-area button svg{
  font-size: 28px;
}

.select-area select{
  height: 58%;
  width: 17%;
  border-radius: 20px;
  padding: 0 14px;
  font-size: 15px;
  cursor: pointer;
}

.error{
  background:  url("images/topic-2.webp") no-repeat fixed center / contain;
  height: 80vh;
}

.area-list{
  display: flex;
  flex-wrap: wrap;
}


.area-dish img{
  height: 100%;
  width: 100%;
  transition:  0.5s ease;
}


 .area-dish{
  width: 250px;
  height: 300px;
  display: flex;
  margin: 23px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;
}



.area-dish a{
  position: absolute;
  font-size: 18px;
  text-align: center;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  text-decoration: none;
}

.area-dish:hover img{
  transform: scale(1.1);
}


.area-dish:hover a{
    height: 20%;
    color: rgb(219, 34, 34);
}

.top-ingre{
  display: flex; 
  flex-direction: column;
  background-color: #E9EDC9;
}
.top-ingre-meals{
  display: flex;
  flex-wrap: wrap;
}


.top-ingre-search{
  text-align: center;
  height: 44px;
  width: 256px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  background-color: brown;
  text-decoration: none;
  transition: 0.5s ease;
}

.top-ingre-search svg{
  margin-left: 5px;
}

.top-ingre-search:hover{
  transform: scale(1.1);
  background-color:white;
  color: black;
}

.errormsg{
  margin: 1.5rem 0;
  text-align: center;
  font-size: 24px;
  color: black;
}

.get-random a{
  position: absolute;
  top: -35px;
  left: -82px;
  height: 24px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccb4b4;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.5s all;
}

.get-random a:hover{
  transform: scale(1.1);
  color: red;
}